.navbar {
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navbar #logo {
    text-align: left;
    width: 100px;
    height: 71px;
}

.navbar #links {
    display: inline-block;
    text-align: center;
}



