
html {
    font-family: "Sedgwick Ave", sans-serif;
    /* background-color: #f6a095; */
    background-image: linear-gradient(to bottom, #f8b3aa,#b9dffa);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow-x:auto;
}

html, body {
    height: 100%;
}

.sedgwick-ave-regular {
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
  }

.check {
    text-align: center;
}

.navbar {
    text-align:center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar #logo {
    text-align: left;
}

.navbar #logo a img {
    width: 100px;
    height: auto;
}

.navbar #links {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-right: 40px;
    /* flex-grow: 1; */

}

.navbar #links a {
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    color: #ed412a;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

.navbar #links a:hover {
    background-color: #4fb0f3;
    border-radius: 10px;
    /* background-image: radial-graient(circle, #4fb0f3, #84c8f7); */
}


/* INDEX PAGE */

/* GALLERY PAGE */

.gallery {
    text-align: center;
}

/* BLOG */

.blog {
    text-align: center;
}

/* ABOUT PAGE */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 60px;

}

.about img {
    /* display: flex; */
    width: 600px;
    height: auto;
}

.about #blurb {
    /* display: flex; */
    text-decoration: none;
    padding-left: 60px;
}

/* CONTACT PAGE */

.contact {
    text-align: center;
}