
html {
    font-family: "Sedgwick Ave", sans-serif;
    /* background-color: #f6a095; */
    background-image: linear-gradient(to bottom, #f8b3aa,#b9dffa);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow-x: auto;
    overflow-y: auto;
    height: auto;
}

html, body {
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.sedgwick-ave-regular {
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
  }

.check {
    text-align: center;
}

.main {
    flex: 1;
}

.flex_box {
    flex-grow: 1;
}

.navbar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: 20px;
}

.navbar #logo {
    text-align: left;
}

.navbar #logo a img {
    width: 100px;
    height: auto;
}

.navbar #links {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: row;
    /* padding-right: 20px; */
    /* flex-grow: 1; */

}

.navbar #links a {
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    font-size: 23px;
    color: #ed412a;
    font-weight: bold;
    text-shadow: -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

.navbar #links a:hover {
    background-color: #4fb0f3;
    border-radius: 10px;
    /* background-image: radial-graient(circle, #4fb0f3, #84c8f7); */
}

.title {
    font-size: 27px;
    text-align: center;
    color: #ed412a;
    font-weight: bold;
    text-shadow: -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

.footer {
    text-align: center;
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
    margin: 40px 20px 20px 20px;
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0; */
}

.footer #copyright {
    text-align: left;
    font-size: 15px;
}

.footer #contact_links {
    text-align: right;
}

.footer #contact_links img {
    width: 40px;
    height: auto;
    padding: 14px 20px;
}

/* INDEX PAGE */

/* GALLERY PAGE */

#gallery {
    text-align: center;
}

/* BLOG */

#blog {
    text-align: center;
}

/* ABOUT PAGE */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:  0px 60px 0px 60px;

}

#about #about_blurb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about #about_blurb img {
    /* display: flex; */
    width: 40%;
    height: auto;
}

#about #about_blurb #space {
    margin: 40px;
}

#about #about_blurb #blurb {
    /* display: flex; */
    text-decoration: none;
    /* padding-left: 60px; */
}

/* CONTACT PAGE */

#contact #contact_blurb {
    text-align: center;
}

#contact #link_blurb {
    color: #ed412a;
    font-weight: bold;
    text-shadow: -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

#contact #link_blurb:hover {
    color: #772115;
}

#contact .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 60px; */
}

#contact .form_container label {
    display: block;
}

#contact .form_container div input, textarea {
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #95d0f8;
    background-color: #95d0f8;
}

#contact .form_container .message textarea {
    height: 300px;
}

#contact .form_container button {
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    /* border: 1px solid #28587a; */
    background-color: #f6a095;
    font-size: 20px;
    font-weight: bold;
    color: #204661;
}

#contact .form_container button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact .form_container div textarea::placeholder {
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
    color: #47130d;
}

#contact .form_container div input::placeholder {
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
    color: #47130d;
}

#contact .form_container div textarea:focus {
    outline: 2px solid #be3422;
}

#contact .form_container div input:focus {
    outline: 2px solid #be3422;
}





/* SMALL SCREEN */
@media (max-width: 650px) {
    .navbar #links {
        flex-direction: column;
    }
}