.navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar #logo {
    text-align: left;
}

.narbar #logo input[type="image"] {
    width: 100px;
    height: auto;
}

.navbar #links {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar #links a {
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}



